<tr>
    <td><img src="{{ subform.result.imgLink }}" width="100"></td>
    <td valign="top">
        <b>{{ subform.result.get('title') }}</b><br>
        {{ subform.result.get('description') }}<br>
        Status: {{ subform.result.get('status') }}<br>
        Genres: {{ subform.result.get('genres') }}<br>
    </td>
    <td>
        {% set temp = subform.malId.process_data(subform.result.get('malId')) %}
        {{ subform.malId() }}
        {% set temp = subform.watchStatus.process_data(10) %}
        {{ subform.watchStatus() }}
    </td>
</tr>