<form name="addanime" method="POST" id="addanimeform">
  {{ add_form.hidden_tag() }}
  {% for subform in form.getSubforms(fields) %}
    <div class="well">
      <div class="row">
        <div class="col-md-2"><img src="{{ subform.result.imgLink }}" width="100"></div>
        <div class="col-md-8">
          <b>{{ subform.result.get('title') }}</b><br>
          Episodes: {{ subform.result.get('episodes') }}<br>
          Genres: {{ subform.result.get('genres') }}<br>
          Score: {{ subform.result.get('score') }}
        </div>
        <div class="col-md-2">
          {{ subform.malId() }}
          {{ subform.status(class_="checkbox-grid1") }}
        </div>
      </div>
    </div>
  {% endfor %}
  <div class="col-sm-offset-5" id="addanimebutton">
    {{ add_form.submit(class_="btn btn-lg btn-success") }}
  </div>
</form>

<script>

</script>