<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col col-sm-6">
            <div id="sidebar">
                <ul class="nav nav-stacked">
                    <li><h3 class="highlight">Anime Search Form<i
                            class="glyphicon glyphicon-dashboard pull-right"></i>
                    </h3></li>
                    {% include "animesearchform.html" %}
                </ul>
            </div>
        </div>

        <div class="col col-sm-6">
            <div class="panel">
                <div class="panel">
                    {% if form.errors %}
                    <ul class="errors">
                        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                        {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                    {% endif %}

                    {% if results %}
                    <form name="addanime" method="POST">
                        {{ form.hidden_tag() }}
                        <table class="searchresults">
                            <tbody>
                                {% for subform in add_form.subforms %}
                                    {% include 'addanimeentry.html' %}
                                {% endfor %}
                            </tbody>
                        </table>
                        <input type="submit" class="btn" value="Submit"></button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}