

<div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                {% for field in fields %}
                    <th> {{field}} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for anime in animelist %}
                <tr>
                    {% set count = 0 %}
                    {% for anime_field in anime  %}
                        {% if fields[count] == "imgLink" %}
                            <td> <img src={{anime_field}} height="150"> </td>
                        {% else %}
                            <td> {{anime_field}} </td>
                        {% endif %}
                        {% set count = count + 1 %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>