<form name="update" method="POST" id="updateanimeform">
    {% for anime in animelist %}
        <div class="well">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ anime.imgLink }}" width="100">
                </div>
                <div class="col-md-8">
                    <b>{{ anime.get('title') }}</b><br>
                    Status: {{ anime.get('myStatus') }}<br>
                    Episodes: {{ anime.get('watchedEps') }}<br>
                </div>
                <div class="col-md-2">
                    Score: {{ anime.get('myScore') }}<br>
                </div>
            </div>
        </div>
    {% endfor %}
</form>