<form name="update" method="POST" id="updateanimeform">
    {% for anime in animelist %}
        <div class="well">
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ anime.imgLink }}" width="100">
                </div>
                <div class="col-md-8">
                    <b>{{ anime.get('title') }}</b><br>
                    Alternative Title: {{ anime.get('japTitle') }}, {{ anime.get('engTitle') }}<br>
                    Score: {{ anime.get('score') }}<br>
                    Episodes: {{ anime.get('episodes') }}<br>
                    Genre(s): {{ anime.get('genres') }}<br>
                </div>
                <div class="col-md-2">
                    My Score: {{ anime.get('myScore') }}<br>
                    My Status: {{ anime.get('myStatus') }}<br>
                    My Episodes Watched: {{ anime.get('watchedEps') }}<br>

                </div>
            </div>
        </div>
    {% endfor %}
</form>