{% for form in form_list %}
    <span>
      <div class="well">
          <div class="row">
              <form name="update" method="POST">
                  <div class="col-md-2">
                      <a href="#" onclick="popup('popUpDiv', {{ form.result.get('malId') }})">
                          <img src="{{ form.result.imgLink }}"
                               alt={{ form.result.get('title') }} style="width:100%">
                      </a>
                  </div>
                  <div class="col-md-6">
                      <table class="table table-hover table-condensed">
                          <tr>
                              <b>{{ form.result.get('title') }}</b>
                          </tr>
                          <tr>
                              <td><label class="control-label">Status: </label></td>
                              <td>{{ form.result.get('myStatus') }} </td>
                          </tr>
                          <tr>
                              <td><label class="control-label">Alternative Title: </label></td>
                              <td>{{ form.result.get('japTitle') }}, {{ form.result.get('engTitle') }}</td>
                          </tr>
                          <tr>
                              <td><label class="control-label">Score: </label></td>
                              <td> {{ form.result.get('score') }} </td>
                          </tr>
                          <tr>
                              <td><label class="control-label">Episode(s): </label></td>
                              <td> {{ form.result.get('episodes') }} </td>
                          </tr>
                          <tr>
                              <td><label class="control-label">Genre(s): </label></td>
                              <td> {{ form.result.get('genres') }} </td>
                          </tr>
                      </table>
                  </div>
                  <div class="col-md-4">
                      <div class="form-group">
                          <label class="col-sm-4 control-label">My Status: </label>

                          <div class="form-inline">
                              {{ form.myStatus(class_="checkbox-grid1 form-control") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-4 control-label">My Score: </label>

                          <div class="form-inline">
                              {{ form.myScore(class_="checkbox-grid1 form-control") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-4 control-label">My Score: </label>

                          <div class="form-inline">
                              {{ form.myScore(class_="checkbox-grid1 form-control") }}
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-4 control-label">My Episodes Watched: </label>

                          <div class="form-inline">
                              {{ form.myEpisodes(class_="form-control", placeholder="1-{}".format(form.result.get('episodes'))) }}
                          </div>
                      </div>
                      {{ form.malId() }}
                      <button type="submit" class="btn btn-lg btn-danger" name="delete"
                              value="{{ form.result.get('malId') }}">Delete Anime
                      </button>
                  </div>
              </form>
          </div>
      </div>
      <div class="alert alert-danger" id="errors_{{ form.result.get('malId') }}" style="display:none;"></div>
    </span>
{% endfor %}

{#http://webdesignandsuch.com/how-to-create-a-popup-with-css-and-javascript/#}
<!--POPUP-->
<div id="blanket" style="display:none;"></div>
<div class="well" id="popUpDiv" style="display:none;">
    {#        <form id="malbextra">#}
    {#            My Status: {{ form.myStatus(class_="checkbox-grid1") }} <br>#}
    {#            My Score: {{ form.myScore(class_="checkbox-grid1") }} <br>#}
    {#            My Episodes Watched: {{ form.myEpisodes(placeholder="1-{}".format(form.result.get('episodes'))) }}<br>#}
    {#            My Start Date: {{ form.myStartDate(class_="form-control", placeholder="mm/dd/yyyy") }} <br>#}
    {#            My End Date: {{ form.myEndDate(class_="form-control", placeholder="mm/dd/yyyy") }} <br>#}
    {#            My Rewatched Episode(s): {{ form.myRewatchEps() }} <br>#}
    {#            My Last Update: {{ form.myLastUpdate() }} <br>#}
    {#            {{ form.malId() }}#}
    {#            <button type="submit" class="btn btn-lg btn-danger" name="delete" value="{{ form.result.get('malId') }}">Delete Anime</button>#}
    {#        </form>#}
    <a href="#" onclick="popup('popUpDiv')">Click to Close CSS Pop Up</a>
</div>

<!-- / POPUP-->

<script>
    function toggle(div_id) {
        var el = document.getElementById(div_id);
        if (el.style.display == 'none') {
            el.style.display = 'block';
        }
        else {
            el.style.display = 'none';
        }
    }
    function blanket_size(popUpDivVar) {
        if (typeof window.innerWidth != 'undefined') {
            viewportheight = window.innerHeight;
        } else {
            viewportheight = document.documentElement.clientHeight;
        }
        if ((viewportheight > document.body.parentNode.scrollHeight) && (viewportheight > document.body.parentNode.clientHeight)) {
            blanket_height = viewportheight;
        } else {
            if (document.body.parentNode.clientHeight > document.body.parentNode.scrollHeight) {
                blanket_height = document.body.parentNode.clientHeight;
            } else {
                blanket_height = document.body.parentNode.scrollHeight;
            }
        }
        var blanket = document.getElementById('blanket');
        blanket.style.height = blanket_height + 'px';
        var popUpDiv = document.getElementById(popUpDivVar);
        {#    popUpDiv_height = blanket_height / 2 - 300;//half a page - 300. 300 is half popUpDiv's height#}
        popUpDiv_height = blanket_height / 20 // 1/20 from the top
        popUpDiv.style.top = popUpDiv_height + 'px';
    }
    function window_pos(popUpDivVar) {
        if (typeof window.innerWidth != 'undefined') {
            viewportwidth = window.innerHeight;
        } else {
            viewportwidth = document.documentElement.clientHeight;
        }
        if ((viewportwidth > document.body.parentNode.scrollWidth) && (viewportwidth > document.body.parentNode.clientWidth)) {
            window_width = viewportwidth;
        } else {
            if (document.body.parentNode.clientWidth > document.body.parentNode.scrollWidth) {
                window_width = document.body.parentNode.clientWidth;
            } else {
                window_width = document.body.parentNode.scrollWidth;
            }
        }
        var popUpDiv = document.getElementById(popUpDivVar);
        {#    window_width = window_width / 20 // 1/20 from the left#}
        window_width = window_width / 2 - 300;//half the page - 300. 300 is half popUpDiv's width
        popUpDiv.style.left = window_width + 'px';
    }
    function popup(windowname, id) {
        blanket_size(windowname);
        window_pos(windowname);
        toggle('blanket');
        toggle(windowname);
    }
</script>

<script>
    $(function () {
        enter_pressed = false;

        $('form[name="update"]').change(function () {
            form = $(this).closest('form');
            errors = form.closest('.well').siblings('.alert-danger');
            $.ajax({
                type: 'POST',
                url: '/update_anime',
                data: form.serialize()
            })
                    .success(function (response) {
                        errors.hide();
                    })
                    .error(function (xhr) {
                        errors.html(xhr.responseText);
                        errors.show();
                    });
            return false;
        });

        $('form[name="update"]').keypress(function (e) {
            enter_pressed = (e.which == 13);
        });

        $('button[name="delete"]').click(function () {
            if (!enter_pressed) {
                closest = $(this).closest('div[class="well"]').parent();
                $.ajax({
                    type: 'POST',
                    url: '/delete_anime',
                    data: {
                        anime_id: $(this).val()
                    }
                })
                        .done(function (response) {
                            closest.remove();
                        });
            }
            enter_pressed = false;
            return false;
        });
    });
</script>