{% for form in form_list %}
    <span>
      <div class="well">
          <div class="row">
            <form name="update" method="POST">
              <div class="col-md-2">
                  <img src="{{ form.result.imgLink }}" width="100">
              </div>
              <div class="col-md-7">
                  <b>{{ form.result.get('title') }}</b><br>
                  Status: {{ form.result.get('myStatus') }}<br>
                  Alternative Title: {{ form.result.get('japTitle') }}, {{ form.result.get('engTitle') }}<br>
                  Score: {{ form.result.get('score') }}<br>
                  Episodes: {{ form.result.get('episodes') }}<br>
                  Genre(s): {{ form.result.get('genres') }}<br>
              </div>
              <div class="col-md-3">
                  My Status: {{ form.myStatus(class_="checkbox-grid1") }} <br>

                  My Score: {{ form.myScore(class_="checkbox-grid1") }} <br>

                  My Episodes Watched: {{ form.myEpisodes(placeholder="1-{}".format(form.result.get('episodes'))) }}<br>

                  {{ form.malId() }}

                  <button type="submit" class="btn btn-lg btn-danger" name="delete" value="{{ form.result.get('malId') }}">Delete Anime</button>
              </div>
            </form>
          </div>
      </div>
      <div class="alert alert-danger" id="errors_{{ form.result.get('malId') }}" style="display:none;"></div>
    </span>
{% endfor %}

<script>
$(function(){
  enter_pressed = false;

  $('form[name="update"]').change(function() {
    event.preventDefault();

    form = $(this).closest('form');
    errors = form.closest('.well').siblings('.alert-danger');
    $.ajax({
      type: 'POST',
      url: '/update_anime',
      data: form.serialize()
    })
    .success(function(response) {
      errors.hide();
    })
    .error(function(xhr) {
      errors.html(xhr.responseText);
      errors.show();
    });
  });

  $('form[name="update"]').keypress(function(e) {
    enter_pressed = (e.which == 13);
  });

  $('button[name="delete"]').click(function() {
    event.preventDefault();
    if (!enter_pressed) {
      closest = $(this).closest('div[class="well"]').parent();
      $.ajax({
        type: 'POST',
        url: '/delete_anime',
        data: {
          anime_id: $(this).val()
        }
      })
      .done(function(response) {
        closest.remove();
      });
    }
    enter_pressed = false;
  });
});
</script>