body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.checkbox-grid1 li {
    display: block;
    float: left;
    width: 100%;
}

.checkbox-grid2 li {
    display: block;
    float: left;
    width: 50%;
}

.checkbox-grid4 li {
    display: block;
    float: left;
    width: 25%;
}
/*STYLES FOR CSS POPUP*/
#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

#popUpDiv {
	position:relative;
	/*background:url(pop-back.jpg) no-repeat;*/
	width:90%;
	height:90%;
	border:5px solid #000;
	z-index: 9002;
}

#popUpDiv a {position:relative; top:20px; left:20px}
