<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<h1>Select a Genre</h1>
<form name = "aasearch" method="POST" action="">
    {{ form.hidden_tag() }}
    </ul>
        <li>Title keyword: {{ form.title() }}</li>
        <li>MAL ID: {{ form.idiStart() }} to {{ form.idiEnd() }}</li>
        <li>Type: {{ form.idt(multiple=True) }}</li>
        <li>Aired from: {{ form.airedFromStart() }} till {{ form.airedFromEnd() }}</li>
        <li>Aired to: {{ form.airedToStart() }} till {{ form.airedToEnd() }}</li>
        <li>Episodes: {{ form.episodesStart() }} to {{ form.episodesEnd() }}</li>
        <li>Duration: {{ form.durationStart() }} to {{ form.durationEnd() }}</li>
        <li>Include genres: {{ form.genresInclude(multiple=True) }}</li>
        <li>Exclude genres: {{ form.genresExclude(multiple=True) }}</li>
        <li>MAL Score: {{ form.malScoreStart() }} to {{ form.malScoreEnd() }}</li>
        <li>Members count: {{ form.membersStart() }} to {{ form.membersEnd() }}</li>
        <li>Status: {{ form.statusInclude(multiple=True) }}</li>
        <li>Return fields: {{ form.returnFields(multiple=True) }}</li>
    </ul>
    <button type="submit" class="btn">Submit</button>
</form>

{% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}

{% if query %}
    <ul class="results">
        {% for anime in results['objects'] %}
            <li>
                {{ anime['resource_uri'] }}
                <ul>
                    {% for field in fields %}
                        <li>{{ field }}: {{ anime[field] }} </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}